<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cloudy Blog</title>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="icon" href="images/favicon.ico?">

</head>

<body>
  <header>
    <nav class="navbar navbar-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CLOUDY BLOG</a>
        </div>
        <ul class="nav flex-lg-row">
          <li id="blogs"><a class="nav-link" href="/blogs">BLOGS</a></li>
          <% if (user) { %>
            <li id="logout"><a class="nav-link" href="/logout">LOGOUT</a></li>  
            <li id="new-blog"><a class="nav-link" href="/blogs/new" title="Create a new blog">+</a></li>
          <% } else { %>
            <li id="signup" class="nav-item"><a class="nav-link" href="/signup">SIGN UP</a></li>
            <li id="login"><a class="nav-link" href="/login">LOGIN</a></li>
          <% } %>  
        </ul>
      </div>
    </nav>
  </header>
  <div class="body-container">


    <section class="upper-section">
      <h1>Welcome to Cloudy Blog!</h1>

      <p>A place where you can express your deepest feelings and your most crazy adventures.</p>

      <p>You can instantly start sharing your blogs by signing up.</p>

    </section>

    <h2 class="featured-blogs">Some of the Featured Blogs</h2>

    <section class="mid-section">
      <% blogs.forEach(element => { %>
        <a href="/blogs/<%= element._id%>">
          <article class="blog-preview">
            <img src="<%= element.image%>" alt="two people watching northern lights" class="blog-image">
            <h6><em><%= element.title %></em></h6>
            <h6><%= element.caption %></h6>
            <h6>Author: <%= element.user%></h6>
          </article>
        </a>
      <% }) %>
    </section>

    <%- include('partials/footer'); -%>