<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cloudy Blog</title>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/blogs.css">
  <link rel="icon" href="/images/favicon.ico?">
</head>

<body>
  <header>
    <nav class="navbar navbar-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CLOUDY BLOG</a>
        </div>
        <ul class="nav flex-lg-row">
          <li id="blogs"><a class="nav-link" href="/blogs">BLOGS</a></li>
          <% if (user) { %>
            <li id="logout"><a class="nav-link" href="/logout">LOGOUT</a></li>  
            <li id="new-blog"><a class="nav-link" href="/blogs/new" title="Create a new blog">+</a></li>
          <% } else { %>
            <li id="signup" class="nav-item"><a class="nav-link" href="/signup">SIGN UP</a></li>
            <li id="login"><a class="nav-link" href="/login">LOGIN</a></li>
          <% } %>
          
        </ul>
      </div>
    </nav>
  </header>

  <div class="blog">
  <img class="img-blog" src="<%= blog.image%>">
            <section class="title-section">
              <h4 class="blog-title">
                <%= blog.title %>
              </h4>
              <span class="date"><%= date %></span>
            </section>
            <h5><%= blog.caption %></h5>
            
            <p class="blog-content">
              <%= blog.blog %>
            </p>
            <p class="author">Author: <%= blog.user %></p>
            <span>Likes: <%= blog.likes %></span>
  <div class="button-div justify-content-between">
  <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" class="col-1">
    <button type="submit" class="btn btn-dark fa-solid fa-thumbs-up mb-2 jus"></button>
  </form>
  <%if (user && blog.userId === user.id) { %>
    <form
      action="/blogs/<%= blog._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-dark fa fa-trash" type="submit"></button>
    </form>
    <%}%>
  </div>
  <section class="comments">
  
  <% blog.comments.forEach(comment => { %>
      <article class="comment-box" data-id="<%= comment._id%>">
        <div class="comment-header">
        <h6><%= comment.user%>:</h6>
        <%if (user && comment.userId == user.id) { %>
        <form action="/blogs/<%= blog._id %>/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-dark btn-sm fa-solid fa-times mb-2 jus"></button>
        </form>
        <%}%>
    </div>
      <div class="comment-body">
        <p><%= comment.comment %></p>
        <span><%= new Date(comment.date).toLocaleString()%></span>
      </div>
      </article>
        
  <% }) %>
</section>
<form
        action="/blogs/<%= blog._id %>/comment"
        method="post"
        id="commentForm"
        class="form-control d-flex flex-column mb-5"
      >
        <label for="comment">Leave a comment:</label>
        <input type="text" name="comment" id="comment" class="mb-2" required/>
        <button type="submit" class="btn add-blog-button mt-1 ">
          Add
        </button>
      </form>
  </div>
  <%- include('partials/footer'); -%>